@import url("main.css");

@media (min-width: 32em) {
	img {
		max-width: 60%;
	}
}

.footer {
	color: #ccc;
	font-size: 80%;
	margin-top: 20px;
}
.footer p {
	margin: 0.2em 0;
}

.post {
	padding-bottom: 1em;
}
.post-meta {
	margin-top: 12px;
}
.post-date {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}
.post-category {
	display: inline-block;
	margin: 0 0.3em 0.3em 0;
}
.post-description h1, .post-description h2, .post-description h3,
.post-description h4, .post-description h5, .post-description h6 {
	font-weight: 300;
}
.post-description .cutline {
	color: #999;
	font-size: 80%;
	letter-spacing: 0.2em;
}

#paginator {
	text-align: right;
}
#paginator .pure-button {
	height: 41px;
}
#paginator .current {
	cursor: default;
	text-decoration: none;
}
