img {
	width: auto;
	max-width: 100%;
}

/* partly learnt from Github */
pre, code {
	font-family: Consolas, "Liberation Mono", Courier, monospace, serif;
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	border-radius: 3px;
}
pre {
	padding: 6px 10px;
	overflow: auto;
	font-size: 80%;
	line-height: 160%;
}
code {
	padding: 2px 5px;
	margin: 0 2px;
}
pre > code {
	border: none;
	background-color: inherit;
	padding: 0;
	margin: 0;
}
