@import url("main.css");

/* overwrite menu width */
#layout.active {
	left: 190px;
}
#layout.active #menu {
	left: 190px;
	width: 190px;
}
#layout.active .menu-link {
	left: 190px;
}
#menu {
	margin-left: -190px;
	width: 190px;
}
@media (min-width: 48em) {
	#layout {
		padding-left: 240px;
	}
	#layout.active {
		left: 240px;
	}
	#layout.active #menu {
		left: 240px;
		width: 240px;
	}
	#layout.active .menu-link {
		left: 240px;
	}
	.menu-link {
		left: 240px;
	}
	#menu {
		left: 240px;
		margin-left: -240px;
		width: 240px;
	}
}

.header {
	padding-top: 1em;
}
.header h1 {
	font-size: 2.2em;
	margin: 0.4em 0;
}

.header, .content {
	padding-left: 1em;
	padding-right: 1em;
}
@media (min-width: 48em) {
	.header, .content {
		padding-left: 2em;
		padding-right: 2em;
	}
}

.content h1, .content h2, .content h3,
.content h4, .content h5, .content h6 {
	font-weight: 300;
	color: #555;
}

.post-meta {
	text-align: right;
}
.post-category {
	margin: 0 0.1em;
	padding: 0.3em 1em;
	color: #fff;
	background: #999;
	font-size: 80%;
	text-decoration: none;
}
.post-category:hover {
	text-decoration: underline;
}
